@font-face {
    font-family: Minecraftia;
    src: url(Minecraftia-Regular.ttf);
}

:root {
    /* font-sizes */
    --fs-caption: 0.75rem;
    --fs-metadata: 0.875rem;
    --fs-standard: 1rem;
    --fs-leadtext: 1.125rem;
    --fs-small-heading: 1.25rem;
    --fs-subheading: 1.5rem;
    --fs-main-heading: 2rem;
    --fs-title-text: 3rem;
}

html {
    font-size: 100%;
}

body {
    background-color: black;
    background-image: url(/pictures/minecraft_background.jpg);
    background-size: cover;
}   
.overlay {
    font-family: Minecraftia;
    font-size: var(--fs-subheading);
    color: yellow;
    transform: rotate(-18deg);
    display: inline-block;
    position: relative;
    left: 60vw;
    bottom: 13vh;
}

.logo_title {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.button_sections {
    text-align: center;
}
.button_section {
    font-size: var(--fs-standard);
    display: block;
    font-family: Minecraftia;
    background-color: #6e6e6e;
    margin-bottom: 1vh;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: 1vh 1vw;
    text-decoration: none;
    color: white;
    border: 3px black solid;
}