@font-face {
    font-family: Minecraftia;
    src: url(Minecraftia-Regular.ttf);
}

body {
    background-color: black;
}
.overlay {
    font-family: Minecraftia;
    font-size: 1.5rem;
    color: yellow;
    transform: rotate(-18deg);
    display: inline-block;
    position: relative;
    left: 60vw;
    bottom: 13vh;
}
#background_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 1vw;
    z-index: -1;
}
.logo_title {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.button_sections {
    text-align: center;
}
.button_section {
    display: block;
    font-family: Minecraftia;
    background-color: #6e6e6e;
    margin-bottom: 5vh;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: 1vh 1vw;
    text-decoration: none;
    color: white;
    border: 3px black solid;
}